STEP 1: PROBLEM STATEMENT
    
     Predicition of student placement for placement drive
        
Problem Statement Type >> Binary Classifiaction

Algorithms:
    1. Logistic Regression
    2. KNN
    3. DT
    4. RF
    5. Adaboost
    6. Naive Bayes
    7. SVM

In [ ]:
STEP 2 : DATA GATHERING

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression


from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("students_placement.csv")
df.head()

   cgpa   iq  profile_score  placed
0  5.97  106             61       0
1  6.83  113             77       0
2  6.60  110             61       0
3  5.54  113             68       0
4  6.84  102             67       0

In [3]:
x = df.drop("placed",axis=1)
y=df.placed

In [4]:
x

     cgpa   iq  profile_score
0    5.97  106             61
1    6.83  113             77
2    6.60  110             61
3    5.54  113             68
4    6.84  102             67
..    ...  ...            ...
295  6.44  107             54
296  6.09  108             52
297  7.68  101             70
298  7.00   90             28
299  4.79  118             70

[300 rows x 3 columns]

In [5]:
y

0      0
1      0
2      0
3      0
4      0
      ..
295    0
296    0
297    1
298    1
299    0
Name: placed, Length: 300, dtype: int64

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=10,stratify=y)

In [7]:
log_reg = LogisticRegression()
log_reg.fit(x_train,y_train)

LogisticRegression()

In [8]:
y_pred= log_reg.predict(x_test)

In [9]:
score = accuracy_score(y_test,y_pred)
score

0.8933333333333333

In [ ]:
Low Bias and Low Variance >> Best Model/Generalized Model

In [10]:
import pickle
pickle.dump(log_reg,open("model.pkl","wb"))